[Unit]
Description=Clean-up unneeded wave files under smart-home folder
# See $NFS_FOLDER in the /etc/smart-home-audio-capture.cfg
ConditionDirectoryNotEmpty=/srv/nfs4/audio

[Service]
Restart=always
RestartSec=30
EnvironmentFile=/etc/smart-home-audio-capture.cfg
User=zhurlik
ExecStart=/usr/share/apps/smart-home/clean-up.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=smart-home

[Install]
WantedBy=multi-user.target
