[Unit]
Description=Clean-up unneeded wave files under smart-home folder

[Service]
Restart=always
RestartSec=10
EnvironmentFile=/etc/smart-home-audio-capture.cfg
User=zhurlik
ExecStart=/usr/share/apps/smart-home/clean-up.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=smart-home

[Install]
WantedBy=multi-user.target
