# /lib/systemd/system

[Unit]
Description=Smart-Home service: capture audio via microphone to a wave file
# See $NFS_FOLDER in the /etc/smart-home-audio-capture.cfg
ConditionPathIsDirectory=/srv/nfs4/audio
After=syslog.target

[Service]
# For looping
Restart=on-success
EnvironmentFile=/etc/smart-home-audio-capture.cfg
User=zhurlik
ExecStart=/usr/share/apps/smart-home/audio-capture.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=smart-home

[Install]
WantedBy=multi-user.target
